<%= form_for(:user, :url => {:action => @action, :id => @user.id }) do |f| %>
  <table>
    <p>
     <%= f.label :first_name %> &nbsp;&nbsp;
     <%= f.text_field :first_name, :size => 15  %>&nbsp;&nbsp;
     <%= f.label :last_name %> &nbsp;&nbsp;
     <%= f.text_field :last_name, :size => 15  %>
   </p>
   <p>
     <%= f.label :username %> &nbsp;&nbsp;&nbsp;
     <%= f.text_field :username, :size => 15  %>
   </p>
   <p>
      <%= f.label :password %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.password_field :password, :size => 15 %> &nbsp;&nbsp;
   </p>
    <p>
      <%= f.label :email %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :email %>
   </p>
    <p>
    <%= f.submit @submit %>
   </p>
  <% end %>
</table>