<HEADER>
	<h2> CREATE ADMIN USER  </h2>
</HEADER>
	<div class = " create users">
		<%= form_for(:admin_user,:url=>{:action => 'create'}) do |f|%>

  			<table summary = "ADMIN form fields" >

				<tr>
					<th>first name</>
						<td><%= f.text_field(:first_name) %></td> 
				</tr>
				<tr>
					<th>last name</>
						<td><%= f.text_field(:last_name) %></td> 
				</tr>
				<tr>
					<th> username</>
						<td><%= f.text_field(:username) %></td> 
				</tr>
				<tr>
					<th> password </>
						<td><%= f.text_field(:password_hash) %></td> 
				</tr>

			</table><br/><br/>

				<div class ="form=buttons">
					<%=submit_tag("log in") %>
<br/><br/>
				</div>
		<% end %>
	</div>


