<HEADER>
	<h2> ADMIN SIGN IN PAGE </h2></HEADER>
		<div class = " SIGN_IN">
			<%= form_for(:admin_user,:url=>{:action => 'admin_page'}) do |f|%>

  				<table summary = "ADMIN form fields" >

					<tr>
						<th>username</>
							<td><%= f.text_field(:username) %></td> 
					</tr>

					<tr>
						<th>password</>
							<td><%= f.text_field(:password) %></td>
					</tr>
				</table><br/><br/>

		<div class ="form=buttons">
				<%= submit_tag("log in") %>
<br/>
		</div>
			<% end %>
		</div>
<div align="right">
	<footer>
		<%= link_to ("BACK",:controller=>'services',:action=>'list')%>
	</footer>
</div>
