<% @main_title = "update location details" %>

<div style="position:fixed; top:22%; left:11%;">
<%= form_for(:location, :url => {:action => "update", :id => @location.id }) do |f| %>
  <table width="100%">
  <div class="field">
    <tr>
      <td width="12%"><%= f.label :facility %></td>
      <td width="50%">&nbsp&nbsp&nbsp</td>
      <td width="38%"><%= f.text_field :facility %></td>
    </tr>
  </div>
    <tr>
      <td>&nbsp</td>
    </tr>
  <div class="field">
    <tr>
      <td width="12%"><%= f.label :district %></td>
      <td width="50%">&nbsp&nbsp&nbsp</td>
      <td width="38%"><%= f.text_field :district %></td>
    </tr>
  </div>
    <tr>
      <td>&nbsp</td>
    </tr>
  <div class="field">
    <tr>
      <td width="12%"><%= f.label :description %></td>
      <td width="50%">&nbsp&nbsp&nbsp</td>
      <td width="38%"><%= f.text_area :description, :size => "36x5" %><td>
    </tr>
  </div>
</div>
  <div class="actions" style="position:fixed; top:77%; left:36%;">
    <%= f.submit %>
  </div>

<% end %>
</div>
</table>
<div class="actions" style="position:fixed; top:77%; left:50.8%;">
    <%= link_to 'Cancel', locations_path %>
  </div>
